html {
  font-family: "Comic Sans MS";
  color: rgb(12, 12, 12);
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
    background-image: url("..jpg/img/background-image.jpg")
}














.navigation {
  float: leftS;
  text-transform: uppercase;
  
  }
  .contact-form{
    margin: 0 auto;
    width: 400px;
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    
  }

  .input-labels{
    display:inline-block;
    width: 90px;
    text-align: right;
  }

  input, textarea {
    font: 14px 'Segoe UI';
    width: 300px; 
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 2px;
  }
  .input-container{
    margin-top: 20px;
  }
  textarea{
    vertical-align: top;
    height: 150px;
  }
  .input-button{
    padding-left: 20px;
    margin-left: 10px;
   
  }