html {
  font-family: "Comic Sans MS";
  color: rgb(12, 12, 12);
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
    background-image: url("..jpg/img/background-image.jpg")
}














.navigation {
  float: leftS;
  text-transform: uppercase;
  
  }